<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
            integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
        <link rel="stylesheet" href="/stylesheets/home.css">
        <title>YelpCamp</title>
    </head>

    <body class="d-flex flex-column text-white bg-dark">
        <nav class="navbar navbar-expand-lg navbar-dark">
            <div class="container-fluid">
                <a href="/.netlify/functions/app" class="navbar-brand flex-grow-1">
                    YelpCamp
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas"
                    data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="w-25 offcanvas offcanvas-end" id="navbarNavAltMarkup">
                    <div class="offcanvas-body justify-content-end">
                        <div class="navbar-nav justify-content-end">
                            <a href="/.netlify/functions/app" class="nav-link px-0">Home</a>
                            <a href="/.netlify/functions/app/campgrounds" class="nav-link px-0">Campgrounds</a>
                            <% if (!currentUser) { %>
                                <a href="/.netlify/functions/app/login" class="nav-link px-0">Login</a>
                                <a href="/.netlify/functions/app/register" class="nav-link px-0">Register</a>
                                <% } else { %>
                                    <a href="/.netlify/functions/app/logout" class="nav-link px-0">Logout</a>
                                    <% } %>

                        </div>
                    </div>
                </div>
            </div>
        </nav>


        <main class="my-auto px-3 text-center mt-auto">
            <h1>YelpCamp</h1>
            <p class="lead">Welcome to YelpCamp! <br>
                Jump right in and explore our many campgrounds. <br>
                Feel free to share some of your own and comment on others!
            </p>
            <a class="btn btn-lg btn-light font-weight-bold" href="/.netlify/functions/app/campgrounds">View
                Campgrounds</a>
        </main>

        <footer class="text-center text-white-50">
            <p>
                &copy; 2022
            </p>
        </footer>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
            crossorigin="anonymous"></script>
    </body>

</html>
