<% layout('layouts/boilerplate')%>
    <div class="container col-md-6 mb-5">
        <div class="card shadow">
            <img src="https://images.unsplash.com/photo-1571863533956-01c88e79957e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1267&q=80"
                alt="" class="card-img-top" />
            <div class="card-body">
                <h3 class="card-title text-center">Add Campground</h3>
                <!-- Form Begins -->
                <form class="needs-validation" action="/.netlify/functions/app/campgrounds" method="POST" novalidate
                    enctype="multipart/form-data">
                    <!-- Campground Title Field -->
                    <div class="mb-3">
                        <label class="form-label" for="title">Title</label>
                        <input class="form-control" type="text" id="title" name="campground[title]" required autofocus>
                        <div class="valid-feedback">Looks good!</div>
                    </div>
                    <!-- Campground Location Field -->
                    <div class="mb-3">
                        <label class="form-label" for="location">Location</label>
                        <input class="form-control" type="text" id="location" name="campground[location]" required>
                        <div class="valid-feedback">Looks good!</div>
                    </div>
                    <!-- Campground Price Field -->
                    <div class="mb-3">
                        <label class="form-label" for="price">Campground Price</label>
                        <div class="input-group">
                            <span class="input-group-text" id="price-label">$</span>
                            <input type="text" class="form-control" id="price" placeholder="0.00" aria-label="price"
                                aria-describedby="price-label" name="campground[price]" required>
                            <div class="valid-feedback">Looks good!</div>
                        </div>
                    </div>
                    <!-- Add Description Field -->
                    <div class="mb-3">
                        <label class="form-label" for="description">Description</label>
                        <textarea class="form-control" type="text" id="description" name="campground[description]"
                            required></textarea>
                        <div class="valid-feedback">Looks good!</div>
                    </div>
                    <!-- Upload Images Field -->
                    <div class="mb-3">
                        <label for="formFileMultiple" class="form-label">Images</label>
                        <input class="form-control" type="file" id="formFileMultiple" name="image" multiple>
                    </div>
                    <!-- Submit Button -->
                    <div class="mb-3 d-grid">
                        <button class="btn btn-success">Add Campground</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
